

body {
    background: rgb(247, 156, 156);
    color: black;
    text-align: center;
    }
    
h1{
    background:white;
    padding: 8px;
    border: grey 2px solid;
    border-radius: 50px;
    margin-top:150px;
    margin-right: 450px;
    margin-left: 450px;
    margin-bottom: 10px;
    }

h2{
    background:white;
    padding: 8px;
    border: grey 2px solid; 
    border-radius: 50px;
    margin-top:25px;
    margin-right: 450px;
    margin-left: 450px;
    margin-bottom: 10px;
    }

h3{
    background:white;
    padding: 8px;
    border: grey 2px solid;
    border-radius: 50px;
    margin-top:25px;
    margin-right: 450px;
    margin-left: 450px;
    margin-bottom: 10px;
    }

p{
    background:white;
    padding: 8px;
    border: grey 2px solid;
    border-radius: 50px;
    margin-top:25px;
    margin-right: 450px;
    margin-left: 450px;
    margin-bottom: 10px;
    font-size: 20px;
    }


